<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Task Management</title>
    <link rel="stylesheet" href="/public/style/style.css">

    <script src="/public/script/socket.js" defer></script>

</head>
<body>
    <%- include('partials/header') %>

    <h1>Welcome to your Task Management Website</h1>

    <div id="notificationArea" class="d-none">
      <p id="notificationMessage"></p>
    </div>

    <div id="taskList"></div>

    <%- include('partials/footer') %>
</body>
</html>
