<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <input type="text" id="regUsername" placeholder="Enter your username" required>
        <input type="password" id="regPassword" placeholder="Enter your password" required>
        <button onclick="register()">Register</button>
        <p>Sudah punya akun? <a href="login.html">Login</a></p>
    </div>

    <script src="script.js"></script>
</body>
</html>
